$bg: url("../images/NESBG.jpg");
$ff: "arial";
body {
  background-image: $bg;
  font-family: $ff;
}
.navigation {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 15px 5px grey;
}
.navigation li {
  background-color: red;
  font-weight: bold;

  text-align: center;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 0 3px #999;
}
header {
  ul li {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
  }
}

header {
  li {
    display: inline;
  }
}
nav {
  a:link,
  a:visited {
    text-decoration: none;
    color: aliceblue;
  }
  a:hover,
  li:hover {
    background-color: darkred;
    transform: translateY(4px);
  }
}
