$bg: url(../images/NESBG.jpg);

body {
  background-image: $bg;
  background-repeat: no-repeat;
  background-size: cover;

  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  z-index: -1;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.row-1 {
  display: flex;
  justify-content: center;
  background: gold;
  border-radius: 15px;
  opacity: 0.9;
  height: 25%;
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}

.row-1 {
  div {
    flex-basis: 100%;
  }
}

.row-2 {
  display: flex;
  justify-content: center;
  align-content: center;
  background: gold;
  border-radius: 15px;
  opacity: 0.9;
  height: 25%;
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}

.row-2 {
  div {
    flex-basis: 100%;
  }
}

.row-4 {
  display: flex;
  justify-content: center;
  background: gold;
  border-radius: 15px;
  opacity: 0.9;
  height: 25%;
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}
.row-4 {
  div {
    flex-basis: 100%;
  }
}
footer {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: brown;
}

//import nav css //
@import "nav";
//import products//
@import "products";
//import fonts//
@import "fonts";
