$bg: rgb(72, 117, 114);
$ff: "arial";
$ff2: "Ubuntu";
body {
  background: $bg;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: $ff;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: -1;
}
.navigation {
  background-color: rgb(74, 117, 72);
  display: flex;
  position: sticky;
  justify-content: center;
  margin: 0;
  z-index: 2;
}
.navigation {
  li {
    background-color: rgb(72, 75, 117);
    font-weight: bold;
    display: inline;
    text-align: center;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 3px #999;
    list-style-type: none;
    margin: 10px;
    padding: 10px;
  }
}

nav {
  a:link,
  a:visited {
    text-decoration: none;
    color: aliceblue;
  }
  a:hover,
  li:hover {
    background-color: darkred;
    transform: translateY(4px);
  }
}
