body {
  background-image: url(../images/NESBG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Press Start 2P", cursive;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  z-index: -1; }

.wrapper {
  max-width: 1200px;
  margin: 0 auto; }

.row-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: gold;
  border-radius: 15px;
  opacity: 0.9;
  height: 25%;
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto; }

.row-1 div {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }

.row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background: gold;
  border-radius: 15px;
  opacity: 0.9;
  height: 25%;
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto; }

.row-2 div {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }

.row-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: gold;
  border-radius: 15px;
  opacity: 0.9;
  height: 25%;
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto; }

.row-4 div {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: brown; }

.navigation {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  top: 0;
  margin: 0;
  z-index: 2; }

.navigation li {
  background-color: #ee1c14;
  font-weight: bold;
  display: inline;
  text-align: center;
  cursor: pointer;
  border-radius: 15px;
  -webkit-box-shadow: 0 3px #999;
          box-shadow: 0 3px #999;
  list-style-type: none;
  margin: 10px;
  padding: 10px; }

nav a:link,
nav a:visited {
  text-decoration: none;
  color: aliceblue; }
nav a:hover,
nav li:hover {
  background-color: darkred;
  -webkit-transform: translateY(4px);
          transform: translateY(4px); }

@media all and (max-width: 600px) {
  .navigation {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  .navigation > li {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%; }

  .wrapper .row-1 .row-2 .row-3 .row-4 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
.row-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: gold;
  border-radius: 15px;
  opacity: 0.9;
  height: 25%;
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto; }

.row-3 div {
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%; }

/*# sourceMappingURL=style.css.map */